.light-theme {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
  
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-toolbar-background: #f8f8f8;
    --ion-toolbar-text-color: #000000;

    /* Navbar specific styles */
    --ion-color-navbar-background: #ffffff;
    --ion-color-navbar-text: #000000;

    /* Item background color */
    --ion-item-background: #f0f0f0; /* Change this to your desired color */

    /* Tab bar specific styles */
    --ion-tab-bar-background: #ffffff;
    --ion-tab-bar-text: #000000;
    --ion-tab-bar-selected-text: #3880ff;

    /* Icon color */
    --ion-icon-color: #000000; /* Default icon color */

    --ion-tab-bar-selected-text: #3880ff; /* Change this to your desired selected tab color */
    --ion-tab-bar-selected-icon: #3880ff; 
}